.form-group {
  display: flex;
  align-items: left;
  margin-bottom: 1rem;
}

.form-group label {
  width: 120px; /* adjust width as needed */
  margin-right: 10px;
  text-align: right;
  font-weight: bold;
}

.form-group input[type="text"],
.form-group input[type="password"],
.form-group input[type="file"] {
  flex: 1;
  padding: 8px;
}
